In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import urllib
import os
import datetime

mbm_data_AM = pd.read_excel("RELACION DE FACTURACION_MBM CORP. Agosto 2020.xls", sheet_name="AEREO MISCELANEOS", skiprows=6)

mbm_data_AM = mbm_data_AM[~np.isnan(mbm_data_AM["N° WAREHOUSE"])]

mbm_data_MM = pd.read_excel("RELACION DE FACTURACION_MBM CORP. Agosto 2020.xls", sheet_name="MARITIMO MISCELANEOS ", skiprows=6)

mbm_data_MM = mbm_data_MM[~np.isnan(mbm_data_MM["N° WAREHOUSE"])]

mbm_data_AM = mbm_data_AM.iloc[:, 1:]
mbm_data_MM =  mbm_data_MM.iloc[:, 0:12]
mbm_data_AM["TIPO_DE_ENVIO"] = 'AEREO'
mbm_data_MM["TIPO_DE_ENVIO"] = 'MARITIMO'
mbm_data = pd.concat([mbm_data_AM, mbm_data_MM])
mbm_data["GROSS WEIGHT (Ft)"] = mbm_data["GROSS WEIGHT (Ft)"].fillna(0)
mbm_data["GROSS WEIGHT (lb)"]= mbm_data["GROSS WEIGHT (lb)"].fillna(0)
mbm_data["N° INVOICE"]= mbm_data["N° INVOICE"].fillna(0)
mbm_data["N° INVOICE"] = mbm_data["N° INVOICE"].astype(int)
mbm_data["N° WAREHOUSE"]= mbm_data["N° WAREHOUSE"].fillna(0)
mbm_data["N° WAREHOUSE"] = mbm_data["N° WAREHOUSE"].astype(int)
mbm_data["GROSS WEIGHT (Ft)"] = mbm_data["GROSS WEIGHT (Ft)"].fillna(0)
mbm_data["GROSS WEIGHT (lb)"]= mbm_data["GROSS WEIGHT (lb)"].fillna(0)
mbm_data["N° INVOICE"]= mbm_data["N° INVOICE"].fillna(0)
mbm_data["N° INVOICE"] = mbm_data["N° INVOICE"].astype(int)
mbm_data["N° WAREHOUSE"]= mbm_data["N° WAREHOUSE"].fillna(0)
mbm_data["N° WAREHOUSE"] = mbm_data["N° WAREHOUSE"].astype(int)

mbm_data = mbm_data[~(mbm_data["MES"] == 'DICIEMBRE 2019')]
mbm_data['NUM_MES'] = pd.DatetimeIndex(mbm_data['FECHA']).month
mbm_data['NUM_MES'] = mbm_data['NUM_MES'].astype(str)
mbm_data['MES'] = mbm_data.apply(lambda x: '-'.join(x[["NUM_MES","MES"]]),axis=1) 
mbm_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1319 entries, 40 to 243
Data columns (total 15 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   FECHA                                                1319 non-null   datetime64[ns]
 1   MES                                                  1319 non-null   object
 2   N° INVOICE                                           1319 non-null   int64
 3   N° WAREHOUSE                                         1319 non-null   int64
 4   CLIENTE                                              1318 non-null   object
 5   GROSS WEIGHT (lb)                                    1319 non-null   float64
 6   MONTO COBRADO POR ZIEGLER  (MISCELANEOS)             1319 non-null   float64
 7   MONTO COBRADO MBM                                    1319 non-null   float64
 8   GANANCIAS MBM                                        1319 non-null   float64
 9   Notas                                                1158 non-null   object
 10  FECHA DE SALIDA DE MIAMI                             1166 non-null   datetime64[ns]
 11  FECHA DE LLEGADA A VENEZUELA                         1102 non-null   datetime64[ns]
 12  TIPO_DE_ENVIO                                        1319 non-null   object
 13  GROSS WEIGHT (Ft)                                    1319 non-null   float64
 14  NUM_MES                                              1319 non-null   object
dtypes: datetime64[ns](3), float64(5), int64(2), object(5)
memory usage: 164.9+ KB

In [3]:
mbm_data

,FECHA,MES,N° INVOICE,N° WAREHOUSE,CLIENTE,GROSS WEIGHT (lb),MONTO COBRADO POR ZIEGLER (MISCELANEOS),MONTO COBRADO MBM,GANANCIAS MBM,Notas,FECHA DE SALIDA DE MIAMI,FECHA DE LLEGADA A VENEZUELA,TIPO_DE_ENVIO,GROSS WEIGHT (Ft),NUM_MES
40,2020-01-06,1-ENERO 2020,70285,119819,FABIAN DIAZ,15.0,43.5000,58.000,14.5000,El invoice 70285 se pagó a ziegler el 16/01/20...,2020-01-09,2020-01-13,AEREO,0.000,1
41,2020-01-06,1-ENERO 2020,70343,119835,Alfonso Campillo,2.0,5.8000,7.800,2.0000,El invoice 70343 se pagó a ziegler el 16/01/20...,2020-01-09,2020-01-13,AEREO,0.000,1
42,2020-01-06,1-ENERO 2020,70343,119836,Juan Macias (SOCIO),1.0,2.9000,2.900,0.0000,El invoice 70343 se pagó a ziegler el 16/01/20...,2020-01-09,2020-01-13,AEREO,0.000,1
43,2020-01-06,1-ENERO 2020,70343,119845,Alfonso Campillo,1.0,2.9000,3.900,1.0000,El invoice 70343 se pagó a ziegler el 16/01/20...,2020-01-09,2020-01-13,AEREO,0.000,1
44,2020-01-07,1-ENERO 2020,70303,119950,Reinaldo Valdes,6.0,17.4000,23.400,6.0000,El invoice 70303 se pagó a ziegler el 16/01/20...,2020-01-09,2020-01-13,AEREO,0.000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,2020-07-29,7-JULIO 2020,75946,132977,ROBERTO MORANDI,0.0,2.3142,2.639,0.3248,NaN,NaT,NaT,MARITIMO,0.203,7
240,2020-07-29,7-JULIO 2020,75946,132979,ROBERTO MORANDI,0.0,1.3794,1.573,0.1936,NaN,NaT,NaT,MARITIMO,0.121,7
241,2020-07-30,7-JULIO 2020,76005,133015,STEFANIA CHEHADE,0.0,0.7068,0.806,0.0992,NaN,NaT,NaT,MARITIMO,0.062,7
242,2020-07-30,7-JULIO 2020,76005,133058,JOSMIN VALERA,0.0,20.3148,23.166,2.8512,NaN,NaT,NaT,MARITIMO,1.782,7
243,2020-07-31,7-JULIO 2020,0,133103,Isai Albert,0.0,105.8718,120.731,14.8592,NaN,NaT,NaT,MARITIMO,9.287,7

In [4]:
mbm_data.groupby('MES').agg({'N° WAREHOUSE': ['count'], 'GANANCIAS MBM': ['sum', 'mean']}).round(decimals=2)

               N° WAREHOUSE GANANCIAS MBM
                      count           sum   mean
MES
1-ENERO 2020             67        538.80   8.04
2-FEBRERO 2020           56        456.39   8.15
3-MARZO 2020             72        517.22   7.18
4-ABRIL 2020            105       1069.80  10.19
5-MAYO 2020             242       1364.35   5.64
6-JUNIO 2020            319       1760.84   5.52
7-JULIO 2020            458       3179.15   6.94

In [ ]:
mbm_data['NUM_MES'].value_counts()

In [ ]:
mbm_data

In [ ]:
mbm_data.columns

In [ ]:
mbm_data["GROSS WEIGHT (lb)"].sum()

In [ ]:
mbm_data["GROSS WEIGHT (Ft)"].sum()

In [ ]:
mbm_data.groupby('MES')

In [ ]:
mbm_data.groupby('MES').sum()

In [ ]:
mbm_data.groupby('CLIENTE').sum().sort_values('GANANCIAS MBM', ascending = False).head()