In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import urllib
import os
import datetime
from datetime import date
from import_google_drive import download_file_from_google_drive

download_file_from_google_drive('1Yr_aftIVvaHzgSyetvHUXPw58pXNP8vJ', './data/file.xls')
mbm_data_AM = pd.read_excel("./data/file.xls", sheet_name="AEREO MISCELANEOS", skiprows=6)

mbm_data_AM = mbm_data_AM[~np.isnan(mbm_data_AM["N° WAREHOUSE"])]

mbm_data_MM = pd.read_excel("./data/file.xls", sheet_name="MARITIMO MISCELANEOS ", skiprows=6)

mbm_data_MM = mbm_data_MM[~np.isnan(mbm_data_MM["N° WAREHOUSE"])]

mbm_data_AM = mbm_data_AM.iloc[:, 1:]
mbm_data_MM =  mbm_data_MM.iloc[:, 0:12]
mbm_data_AM["TIPO_DE_ENVIO"] = 'AEREO'
mbm_data_MM["TIPO_DE_ENVIO"] = 'MARITIMO'
mbm_data = pd.concat([mbm_data_AM, mbm_data_MM])
mbm_data["GROSS WEIGHT (Ft)"] = mbm_data["GROSS WEIGHT (Ft)"].fillna(0)
mbm_data["GROSS WEIGHT (lb)"]= mbm_data["GROSS WEIGHT (lb)"].fillna(0)
mbm_data["N° INVOICE"]= mbm_data["N° INVOICE"].fillna(0)
mbm_data["N° INVOICE"] = mbm_data["N° INVOICE"].astype(int)
mbm_data["N° WAREHOUSE"]= mbm_data["N° WAREHOUSE"].fillna(0)
mbm_data["N° WAREHOUSE"] = mbm_data["N° WAREHOUSE"].astype(int)
mbm_data["GROSS WEIGHT (Ft)"] = mbm_data["GROSS WEIGHT (Ft)"].fillna(0)
mbm_data["GROSS WEIGHT (lb)"]= mbm_data["GROSS WEIGHT (lb)"].fillna(0)
mbm_data["N° INVOICE"]= mbm_data["N° INVOICE"].fillna(0)
mbm_data["N° INVOICE"] = mbm_data["N° INVOICE"].astype(int)
mbm_data["N° WAREHOUSE"]= mbm_data["N° WAREHOUSE"].fillna(0)
mbm_data["N° WAREHOUSE"] = mbm_data["N° WAREHOUSE"].astype(int)

mbm_data = mbm_data[~(mbm_data["MES"] == 'DICIEMBRE 2019')]
mbm_data['NUM_MES'] = pd.DatetimeIndex(mbm_data['FECHA']).month
mbm_data['NUM_MES'] = mbm_data['NUM_MES'].astype(str)
mbm_data['MES'] = mbm_data.apply(lambda x: '-'.join(x[["NUM_MES","MES"]]),axis=1)

In [5]:
mbm_data = mbm_data[mbm_data.NUM_MES == str(date.today().month)]
mbm_data

,FECHA,MES,N° INVOICE,N° WAREHOUSE,CLIENTE,GROSS WEIGHT (lb),MONTO COBRADO POR ZIEGLER (MISCELANEOS),MONTO COBRADO MBM,GANANCIAS MBM,Notas,FECHA DE SALIDA DE MIAMI,FECHA DE LLEGADA A VENEZUELA,Unnamed: 13,Unnamed: 14,TIPO_DE_ENVIO,GROSS WEIGHT (Ft),NUM_MES
1129,2020-08-03,8-AGOSTO 2020,76138,133255,Adrian Aguirre,16.0,47.2000,72.000,24.8000,NaN,NaT,NaT,NaN,NaN,AEREO,0.000,8
1130,2020-08-03,8-AGOSTO 2020,76138,133260,Vanessa Zambrano\n (TU VIDA ORGANICA-DOTERRA),1.0,2.9500,4.500,1.5500,NaN,NaT,NaT,NaN,NaN,AEREO,0.000,8
1131,2020-08-03,8-AGOSTO 2020,76138,133308,Christiane / Rocio Rey \n(CLIENTE DOTERRA),1.0,2.9500,4.500,1.5500,NaN,NaT,NaT,NaN,NaN,AEREO,0.000,8
1132,2020-08-03,8-AGOSTO 2020,76160,133366,Claudia Bustamante\n (CLIENTE DOTERRA),1.0,2.9500,4.500,1.5500,NaN,NaT,NaT,NaN,NaN,AEREO,0.000,8
1133,2020-08-03,8-AGOSTO 2020,76160,133367,Karen Gallo\n (CLIENTE DOTERRA),1.0,2.9500,4.500,1.5500,NaN,NaT,NaT,NaN,NaN,AEREO,0.000,8
1134,2020-08-03,8-AGOSTO 2020,76160,133369,Cesar Gonzalez,1.0,2.9500,4.500,1.5500,NaN,NaT,NaT,NaN,NaN,AEREO,0.000,8
1135,2020-08-03,8-AGOSTO 2020,76160,133370,Carlos Mondragon (MGM),1.0,2.9500,4.500,1.5500,NaN,NaT,NaT,NaN,NaN,AEREO,0.000,8
1136,2020-08-03,8-AGOSTO 2020,76160,133377,Claudia,3.0,8.8500,13.500,4.6500,NaN,NaT,NaT,NaN,NaN,AEREO,0.000,8
1137,2020-08-03,8-AGOSTO 2020,76160,133378,Ana Irausquin,2.0,5.9000,9.000,3.1000,NaN,NaT,NaT,NaN,NaN,AEREO,0.000,8
1138,2020-08-03,8-AGOSTO 2020,76160,133380,Isai Albert,3.0,8.8500,13.500,4.6500,NaN,NaT,NaT,NaN,NaN,AEREO,0.000,8
1139,2020-08-03,8-AGOSTO 2020,76160,133385,MARIA GABRIELA MARTINI\n (CLIENTE DOTERRA),3.0,8.8500,13.500,4.6500,NaN,NaT,NaT,NaN,NaN,AEREO,0.000,8
1140,2020-08-04,8-AGOSTO 2020,0,133387,Maria Vielma \n (CLIENTE DOTERRA),3.0,8.8500,13.500,4.6500,NaN,NaT,NaT,NaN,NaN,AEREO,0.000,8
1141,2020-08-04,8-AGOSTO 2020,0,133431,Karen Gallo\n (CLIENTE DOTERRA),1.0,2.9500,4.500,1.5500,NaN,NaT,NaT,NaN,NaN,AEREO,0.000,8
1142,2020-08-04,8-AGOSTO 2020,0,133440,Reinaldo Valdes,2.0,5.9000,9.000,3.1000,NaN,NaT,NaT,NaN,NaN,AEREO,0.000,8
1143,2020-08-04,8-AGOSTO 2020,0,133452,Patricia Marti \n(CLIENTE DOTERRA),1.0,2.9500,10.000,7.0500,NaN,NaT,NaT,NaN,NaN,AEREO,0.000,8
1144,2020-08-04,8-AGOSTO 2020,0,133455,Patricia Moros,8.0,23.6000,36.000,12.4000,NaN,NaT,NaT,NaN,NaN,AEREO,0.000,8
1145,2020-08-04,8-AGOSTO 2020,0,133458,Ingrid Alaña\n(DOTERRA),1.0,2.9500,4.500,1.5500,NaN,NaT,NaT,NaN,NaN,AEREO,0.000,8
1146,2020-08-04,8-AGOSTO 2020,0,133459,Claudia Bustamante\n (CLIENTE DOTERRA),1.0,2.9500,4.500,1.5500,NaN,NaT,NaT,NaN,NaN,AEREO,0.000,8
1147,2020-08-04,8-AGOSTO 2020,0,133460,Rocio Rey \n(CLIENTE DOTERRA),2.0,5.9000,9.000,3.1000,NaN,NaT,NaT,NaN,NaN,AEREO,0.000,8
246,2020-08-03,8-AGOSTO 2020,0,133299,BERARDO D'ANTONIO,0.0,30.3924,35.888,5.4956,NaN,NaT,NaT,NaN,NaN,MARITIMO,2.666,8
247,2020-08-04,8-AGOSTO 2020,0,133450,Erick Guillen,0.0,16.4616,20.002,3.5404,Factura enviada el 04/08/2020. Pagado con tran...,NaT,NaT,NaN,NaN,MARITIMO,1.444,8
248,2020-08-03,8-AGOSTO 2020,76140,133214,ROBERTO MORANDI,0.0,4.2750,4.875,0.6000,NaN,NaT,NaT,NaN,NaN,MARITIMO,0.375,8
249,2020-08-03,8-AGOSTO 2020,0,133257,ROBERTO MORANDI,0.0,17.4876,19.942,2.4544,NaN,NaT,NaT,NaN,NaN,MARITIMO,1.534,8
250,2020-08-03,8-AGOSTO 2020,76140,133211,ROBERTO MORANDI,0.0,1.1058,1.261,0.1552,NaN,NaT,NaT,NaN,NaN,MARITIMO,0.097,8
251,2020-08-03,8-AGOSTO 2020,76140,133209,ROBERTO MORANDI,0.0,1.7328,1.976,0.2432,NaN,NaT,NaT,NaN,NaN,MARITIMO,0.152,8
252,2020-08-03,8-AGOSTO 2020,76140,133199,MARIA VIELMA \n (CLIENTE DOTERRA),0.0,24.7038,28.171,3.4672,NaN,NaT,NaT,NaN,NaN,MARITIMO,2.167,8
253,2020-08-03,8-AGOSTO 2020,0,132826,MARIA VIELMA \n (CLIENTE DOTERRA),0.0,11.2062,12.779,1.5728,NaN,NaT,NaT,NaN,NaN,MARITIMO,0.983,8
254,2020-08-03,8-AGOSTO 2020,0,133150,STEFANIA CHEHADE,0.0,1.8468,2.106,0.2592,NaN,NaT,NaT,NaN,NaN,MARITIMO,0.162,8
255,2020-08-04,8-AGOSTO 2020,0,133374,MARIA VIELMA \n (CLIENTE DOTERRA),0.0,22.5606,25.727,3.1664,NaN,NaT,NaT,NaN,NaN,MARITIMO,1.979,8

In [6]:
mbm_data.groupby(['MES', 'TIPO_DE_ENVIO']).agg({'N° WAREHOUSE': ['count'], 'GANANCIAS MBM': ['sum', 'mean']}).round(decimals=2)

                            N° WAREHOUSE GANANCIAS MBM
                                   count           sum  mean
MES           TIPO_DE_ENVIO
8-AGOSTO 2020 AEREO                   19         86.10  4.53
              MARITIMO                10         20.95  2.10

In [7]:
mbm_data_cons = mbm_data.groupby('MES').agg({'CLIENTE': ['count'],'GROSS WEIGHT (lb)': ['sum'], 'GROSS WEIGHT (Ft)': ['sum'], 'GANANCIAS MBM': ['sum'] }).round(decimals = 2)
mbm_data_cons.columns = ['Nro Envios', 'Libras', 'Pies Cubicos', 'Ganancias']
mbm_data_cons = mbm_data_cons.reset_index()
mbm_data_cons

             MES  Nro Envios  Libras  Pies Cubicos  Ganancias
0  8-AGOSTO 2020          29    52.0         11.56     107.05

In [9]:
mbm_data.groupby('CLIENTE').agg({'GANANCIAS MBM': 'sum', 'N° WAREHOUSE' : 'count','GROSS WEIGHT (lb)': 'sum', 'GROSS WEIGHT (Ft)' : 'sum'}).round(decimals = 2).sort_values('GANANCIAS MBM', ascending = False).head(10)

,GANANCIAS MBM,N° WAREHOUSE,GROSS WEIGHT (lb),GROSS WEIGHT (Ft)
CLIENTE,,,,
Adrian Aguirre,24.80,1,16.0,0.00
Patricia Moros,12.40,1,8.0,0.00
MARIA VIELMA \n (CLIENTE DOTERRA),8.21,3,0.0,5.13
Patricia Marti \n(CLIENTE DOTERRA),7.05,1,1.0,0.00
BERARDO D'ANTONIO,5.50,1,0.0,2.67
Claudia,4.65,1,3.0,0.00
Isai Albert,4.65,1,3.0,0.00
Maria Vielma \n (CLIENTE DOTERRA),4.65,1,3.0,0.00
MARIA GABRIELA MARTINI\n (CLIENTE DOTERRA),4.65,1,3.0,0.00
Erick Guillen,3.54,1,0.0,1.44